@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');
@import "assets/scss/_var";

body {
  overflow-x: hidden;
  background: $color-white;
  font-family: 'Montserrat', sans-serif;
  color: $color-black;
}

